div{
	.card{
	font-family: 'Poppins', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
}

}

@media only screen and (max-width: 400px){

div{

	.card{
	margin-left: 40px;
	margin-right: 0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	
	}

}
	
}

