hr{
	margin: 20px 0px;
}

footer{
	text-align: center;
	font-family: 'Roboto', sans-serif;

.grillaFooter{
	display: grid;
	grid-template-columns: 90px 90px 90px;
	justify-content: center;
	margin-bottom: 0px;
}

}